.item {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 8px;
    border-top: 1px solid black;
    margin-top: 16px;
    padding-top: 16px;
    min-width: 400px;
}

.name {
    width: 100%;
}

.done {
    text-decoration: line-through;
}

span {
    cursor: text;
}

input {
    padding: 6px;
    font-size: 16px;
    color: var(--color-main);
    border: 1px solid #ccc;
    border-color: var(--color-main);
    border-radius: 4px;
    outline: none;
    width: 100%;
}