.container {
    display: inline-block;
    background-color: white;
    padding: 32px 24px;
    border-radius: 12px;
    max-width: 600px;
    min-width: 600px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    margin-bottom: 20px;
}

.button {
    background-color: var(--color-main);
    border: 0;
    color: white;
    width: 60px;
    font-size: 44px;
    aspect-ratio: 1;
    border-radius: 50%;
    cursor: pointer;
}

h1 {
    padding-bottom: 10px;
}

.draggableItem {
    list-style-type: none;
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 8px;
    background-color: hsl(246, 46%, 90%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: grab;
}

.draggableItem:hover {
    border-color: var(--color-main);
}